 #topRow{
        display: flex;
    
    }
    #logo {
        height: 55px;
        width: 100%;
        background-color: #F3F2F2;
        border-radius: 10px;
        font-size: 45px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        text-align: center;
      }
    #icons{
        margin-left: auto;
        display: flex;
    }
    
    .iconImg{
        height: 55px;
        width: 55px;
        margin: 10px;
    }
    
    
    .letter{
        display: inline;
        
        
    }
    
    .red{
        color: red;
    }



#loggaIn{
    background-color: #e42e2e;
    padding: 20px;
    border-radius: 5px;
    border: black, solid, 1px;
    margin: 20px auto;
    width: 100px;
    color: white;
    text-align: center;
    display: inline-block;
}

#registrera{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: black, solid, 1px;
    margin: 20px auto;
    width: 100px;
    text-align: center;
    display: inline-block;
}

#loggaIn:hover, #registrera:hover{
    background-color: #484848;
    color: #ffffff;
}



#tider{
    background-color: lightgray;
    width: 50%;
}

#items{
    display: flex;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    justify-content: center;
    
}

.item{
    height: 100%;
    width: 5%;
    border: gray solid 1px ;
    border-radius: 10px;
    margin: 10px;
    }



.amount{
    display: flex;
    width: 70%;
    height: 5%;
    background-color: #F3F2F2;
    border-radius: 50px;
    margin: auto;
}

.remove{
    height: 80%;
    width: 20%;
    background-color: gray;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.add{
    height: 80%;
    width: 20%;
    background-color: red;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.addText{
    margin-top: 20%;
    color: white;
    height: 80%;
    width: 20%;
    border-radius: 50px;
    border-color: transparent;
    background-color: transparent;
}

.amountNumber{
    align-self: center;
    margin-left: auto;
}


